.wrapper {
    margin: 2em auto 0;
    padding: 1em;
    max-width: 600px;
}

.btnContainer {
    display: flex;
    justify-content: space-between;
    flex: auto;
    gap: 10px;
}

.btnContainer>* {
    margin: 10px;
}